.game-card {
  /* max-width: 100%; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  background-color: var(--backgroundCard);
  min-width: 0;
}


.game-card img {
  width: 100%;
}

.game-info {
  /* max-width: 100%; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.25rem;
}

.game-info span {
  display: block;
  font-size: 0.75rem;
  /* color: var(--textColor); */
  color: white;
}

.game-original-price {
  text-decoration: line-through;
  text-align: right;
}

.game-info-price {
  /* height: 100%; */
  /* width: 45%; */
  background-color: var(--backgroundColor);
  padding: 0.25rem;
}

.game-info-discount {
  /* display: flex; */
  /* align-content: center; */
  /* align-items: center; */

  /* height: 100%; */
  background-color: green;
}

.game-price-with-discount {
  /* flex: 1; */
  display: flex;
  align-items: center;
}

.game-name-limit {
  /* flex: 1; */
  min-width: 0;
  flex-basis: 50%;
  /* max-width: 30%; */
  /* background-color: red; */
}

.game-info-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* .group-show-one {
  background-color: var(--backgroundCard);
  
  padding-bottom: .25rem;
 
  width: 100%;
  
}

.group-show-one img{
  
  max-width: 100%;
}

.game-info {
  width: 98%;
  margin: 0 auto;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.game-info-split-55 {
  
  max-width: 55%;
  
}

.game-info-split-45 {
  

  max-width: 45%;
  
}


.game-discount-price {
  display: flex;
  align-items: center;
}

.game-info-price {
  padding: 0.25rem;
  background-color: var(--backgroundColor);

 

}

.game-info-discount {
  text-decoration: line-through;
  font-size: 0.75rem;
  text-align: right;
}

.game-offer {
  font-size: 0.75rem;
  color: var(--textColor);
}


.game-discount-percent {
  padding: 0.25rem;
  background-color: green;
  
}



.game-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media screen and (min-width: 768px) {
  
}

@media screen and (min-width: 1025px) {
  
} */
