
nav {
  display: none;
}

.mobile-container {
  width: 100%;
  background-color: var(--navDark);
  position: relative;
  /* max-width: 90%; */
  /* margin: 0 auto; */
}

.mobile-topbar {
  max-width: 90%;
  margin: 0 auto;
  height: 8vh;
  /* background-color: var(--navDark); */
  display: flex;
  align-items: center;
  box-shadow: 0 0 7px 0 rgb(0 0 0 / 75%);
}


.mobile-topbar img {
  /* margin-left: 0.5rem; */
  width: 2rem;
}

.mobile-topbar .mobile-logo {
  margin: 0 auto;
  /* width: 3rem; */
}

.mobile-topbar .mobile-logo img {
  width: 3rem;
}


.mobile-nav {
  height: 6vh;
  background-color:var(--navBlue);
  /* color: var(--textColor); */
  color: white;
  /* font-size: var(--smallSize); */
}

.mobile-nav ul{
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mobile-nav ul li {
  height: 100%;
}

.mobile-nav ul li a {
  height: 100%;
  display: block;
  display: flex;
  align-items: center;
}

/* sidebar */
.mobile-sidebar-container {
  display: flex;
  position: absolute;
  height: 86vh;
  transition: all ease-in-out 0.2s;
  z-index: 2;
  width: 100%;
  background:rgb(0 0 0 / 75%);
  /* background-color: red; */
}

.mobile-sidebar {
  /* position: absolute; */
  background-color: var(--navDark);
  /* min-height: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* color: var(--textColor); */
  color: white;
  min-width: 195px;
  max-width: 25%;
  /* width: 60%; */
  padding-top: 1rem;
  /* transition: all ease-in-out 0.2s;
  z-index: 2; */
}

.mobile-sidebar-close {
  color: white;
  font-size: 1.5rem;
  padding-left: .5em;
  width: 40%;
}

.mobile-sidebar-disable {
  /* overflow-y: hidden; */
  transform: translateX(-100%);
  transition: all ease-in-out 0.2s;
}

.show-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mobile-sidebar-user {
  padding: 0.5rem 0;
  width: 100%;
  border-bottom: 1px solid var(--textColor);
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

.mobile-sidebar img {
  width: 2rem;
}

.mobile-sidebar-login {
  padding: 0.5rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* border-bottom: 1px solid var(--backgroundBlueText); */

  /* height: 100%; */
}

.mobile-sidebar-login a{
  width: 50%;
}

.mobile-sidebar-logout {
  width: 100%;
  padding: 0.5rem 0;
}

.mobile-sidebar-bag {
  padding: 0.5rem 0;
  width: 100%;
  border-bottom: 1px solid var(--textColor);
  /* padding-top: 0.5re; */
  /* margin-top: 0.5rem; */
  /* border-top: 1px solid var(--backgroundDark); */
}

.mobile-badge {
  position: relative;
}

.mobile-badge span {
  /* color: var(--textColor); */
  color: white;
  font-size: 0.75rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: tomato;
  border-radius: 50%;
  width: 1.25rem;
  height: 1.25rem;
  padding: 0.5rem;
  top: -6px;
  right: -6px;
}




@media screen and (min-width: 1025px) {
  .mobile-container {
    display: none;
  }

  .mobile-sidebar-container {
    display: none;
  }

  nav {
    display: block;
    
  }


  .desktop-nav1 {
    height: 8vh;
    /* color: var(--backgroundColor); */
    background-color: var(--navDark);
    position: relative;
  }

  .desktop-container {
    max-width: 80%;
    margin: 0 auto;
    height: 100%;
  }

  .desktop-topbar img {
    width: 4rem;
  }

  .desktop-topbar {
    position: relative;
    height: 100%;
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-items: center;
    margin: 0 auto;
    /* display: flex;
    align-items: center;
    justify-content: center; */
  }

  .desktop-topbar a {
    display: flex;
    align-items: center;
  }

  .desktop-search {
    position: absolute;
    left: 0;
    max-width: 20%;
  }

  .desktop-account {
    /* height: 100%; */
    color: white;
    display: flex;
    align-items: center;
    /* justify-content: flex-end; */
    /* text-align: right; */
    /* float: right; */
    position: absolute;
    right: 0;
  }

  .desktop-username {
    padding: 1rem;
  }
  /* .desktop-account li {
    display: flex;
    align-items: center;
    justify-content: center;
  } */

  .desktop-account a {
    /* height: 100%; */
    padding: 1rem;
  }

  .desktop-account-forhover {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    /* display: ; */
  }

  .desktop-account-hover {
    position: absolute;
    top: 100%;
    left: -50%;
    width: 200%;
    background-color: var(--navDark);
    display: none;
    /* border: 1px solid white; */
  }

  .desktop-logout {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-top: 1px solid white;
    cursor: pointer;
    /* text-align: center; */
  }

  .desktop-account-forhover:hover .desktop-account-hover {
    display: block;
    z-index: 2;
    /* background-color: white; */
    /* color: black; */
  }

  .desktop-account-hover a:hover {
    background-color: var(--navHover);
    /* background-color: rgb(49, 47, 47); */
  }

  .desktop-logout:hover {
    background-color: var(--navHover);
    
  }

  .desktop-account img {
    width: 2rem;
  }

  .desktop-nav2{
    height: 6vh;
    background-color: var(--navBlue);
  }

  .desktop-nav2 ul {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: relative; */
  }


  .desktop-nav2 ul li {
    height: 100%;
  }

  .desktop-nav2 li a {
    /* color: var(--textColor); */
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    font-size: 1.25rem;
  }

  .desktop-badge {
    position: relative;
  }

  .desktop-badge span {
    background-color: tomato;
    position: absolute;
    border-radius: 50%;
    width: 1.25rem;
    height: 1.25rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 13px;
    right: 10px;
    font-size: 0.75rem;
  }

  /* .desktop-nav2 li a:hover {
    background-color: var(--backgroundColor);
  }

  .hover-dropdown:hover .dropdown {
    display: flex;
  } */

}

@media (hover: none) {
  .mobile-dropdown {
    display: none;
  }

}


@media (hover: hover) {

  /* nav {
    display: block;
    
  }

  .mobile-container {
    display: none;
  } */

  .desktop-nav2 li a:hover {
    background-color: var(--backgroundColor);
  }

  .hover-dropdown:hover .dropdown {
    display: flex;
  }
}

